<div class="col-sm-12">
    <select>
        <option [value]="null">--Select--</option>
        <option *ngFor="let item of info.AvailableWorkoutPlans" [value]="item.Key">{{item.Value}}</option>
    </select>
</div>
<div>
    <round-for-round-rest></round-for-round-rest>
</div>

<div *ngIf="workout.WarmUp" class="col-sm-12">
    <h3>Warm-Up</h3>
    <div class="col-sm-12">
        <select>
            <option [value]="null">--Select--</option>
            <option *ngFor="let item of info.AvailableWorkoutPlans" [value]="item.Key">{{item.Value}}</option>
        </select>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive-sm">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <select>
                                <option [value]="null">--Select--</option>
                                <option *ngFor="let item of info.AvailableExercises" [value]="item.Key">{{item.Value}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="workout.StrengthAndTechnique" class="col-sm-12">
    <h3>Strength & Technique</h3>
</div>
<div *ngIf="workout.WorkoutOfTheDay" class="col-sm-12">
    <h3>Workout Of The Day</h3>
</div>